PyQt5
pyttsx3
SpeechRecognition
PyAudio

ollama

playwright

langchain
langchain-community
langchain-ollama
langchain-chroma

chromadb
onnxruntime

psutil
pycaw
screen-brightness-control
pywin32
PyAutoGUI

python-docx
pypdf

requests
beautifulsoup4
lxml
python-dotenv

Pillow
qrcode